.wrp{
     width: 100%;
    max-width: 1120px;
    height: 573px;
    background-color: #142A31;
    border-radius: 16px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
    /* margin-left: 150px; */
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrp_text h1{
    font-size: 64px;
    font-weight: 400;
}

.wrp_text p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
}

.images{
    display: flex;
    gap: 60px;
    margin-top: 40px;
}


@media(max-width:768px){
    .images{
        flex-wrap: wrap;
    }


    .wrp{
        justify-content: start;
    }
}