.section4-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding: 88px 60px;
    border-top: 1px solid #f0f0f0;
}

.section4-img img {
    width: 432px;
    height: 318px;
}

.section4-text h3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #FDB0AB;
    width: 257px;
    height: 24px;
    padding: 0px 28px;
    background-color: #142A31;
    border-radius: 5px;
    margin-bottom: 40px;
}

.section4-text h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0%;
    color: #142A31;
}

.section4-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24.36px;
    letter-spacing: 0%;
    color: #142A31;
    margin-top: 23px;
}


@media (max-width: 992px) {
    .section4-container {
        gap: 60px;
        padding: 60px 40px;
        flex-direction: column;
        text-align: center;
    }

    .section4-text h3 {
        margin: 0 auto 40px auto;
    }

    .section4-img img {
        width: 350px;
        height: auto;
    }
}

@media (max-width: 600px) {
    .section4-container {
        gap: 40px;
        padding: 40px 20px;
    }

    .section4-img img {
        width: 100%;
        height: auto;
    }

    .section4-text h1 {
        font-size: 32px;
        line-height: 38px;
    }

    .section4-text h3 {
        font-size: 12px;
        width: auto;
        display: inline-block;
    }
}