.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 60px;
}

.card h4{
    margin-top: 32px;
}

.crad p{
    line-height: 35px;
    margin-top: 20px;
}

.img_cont{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.img_cont h1{
    font-size: 14px;
}

.uptade{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.uptade button{
    padding: 15px 25px;
    background-color: #FDB0AB;
    box-shadow: 0px 1px 2px 0px #1018280D;
    border: none;
    border-radius: 128px;
}

.p{
    margin-top: 30px;
}



@media(max-width:768px){
    .container{
        flex-wrap: wrap;
    }

    .uptade{
        flex-wrap: wrap;
    }
    .uptade button{
        margin-top: 20px;
    }
}